*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

body{
    width: 100%;
    background-color: #1F1F23;
}

/*Header*/
header{
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1010;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 140px;
    padding: 10px 156px;
}

header nav{
    text-align: right;
}

#logo{
    transition: transform 0.3s;
    width: 98px;
    height: 115px
}

#logo:hover{
    transform: scale(1.1);
}

.nav{
    display: inline-flex;
    align-items: center;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 58px;
    transition: transform 0.4s cubic-bezier(.48, .100, .80, 2.48);
}

i{
    margin-right: 7px;
    color: #0096A4;
}

i:hover{
    color: #000000;
}

.nav:hover{
    color: #0096A4;
    transform: scale(1.07);
}

.button-talk {
    display: inline-flex;
    background-color: #0096A4;
    color: #ffffff;
    height: 51px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    text-decoration: none;
    transition: transform 0.4s cubic-bezier(.48, .100, .80, 2.48), opacity 0.6s;
}

.button-talk:hover{
    opacity: 0.77;
    transform: scale(1.07);
}

/*section banner*/
.banner{
    box-sizing: border-box;
    background: url(/imgs/pexels-lukas-574071\(2\).jpg) no-repeat center;
    background-size: 100%;  
    height: 980px;
}

.box-banner{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 450px;
    padding-left: 156px;
}

.titles{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-bottom: 45px;
}

.title{
    font-size: 68px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.title #barch{
    color: #0096A4;
}

.subtitle{
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
}

.buttons{
    display: flex;
    justify-content: flex-start;
}

.button{
    width: 179px;
    height: 40px;
    border-radius: 13px;
    background-color: #ffffff;
    color: #1F1F23;
    font-size: 21px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    padding: 3px 18px;
    margin-right: 50px;
    transition: transform 0.5s cubic-bezier(.48, .100, .80, 2.48), opacity 0.5s;
}

.button:hover{  
    transform: scale(1.07);
    opacity: 0.77;
}

.banner .photo{
    position: absolute;
    top: 300px;
    right: 156px;
    transition: transform 2.5s ease-in-out;
}

.banner .photo:hover{
    transform: scale(1.1);
}

/*section information*/
.presentation{
    display: inline-block;
    height: 870px;
    width: 100%;
    background: url(/imgs/scroll.png) no-repeat center;
    background-color: #fff;
}

.info{
    display: flex;
}

.hello{
    margin-top: 90px;
    margin-left: 400px;
    padding-right: 110px;
    border-right: #f5f2ed 3px solid;
}

.info h2{
    font-weight: 400;
    font-size: 30px;
    width: 160px;
    height: 130px;
    text-align: left;
    margin-top: 8px;
    margin-left: 180px;
    transition: transform 2s;
}

.info h2:hover{
    transform: scale(1.1);
}

.memo{
    width: 450px;
    height: 450px;
    margin-top: 40px;
    transition: transform 1.5s cubic-bezier(.23,.15,0,2.03);
}

.memo:hover{
    transform: scale3d(1.1, 1.1 , 1) rotateZ(20deg);
}

.story{
    width: 420px;
    height: 420px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 270px;
    margin-left: 160px;
    transition: margin-left 5s;
}

.story:hover{
    margin-left: 30px;
}

.personal ul{
    display: flex;
    font-size: 20px;
    font-weight: 400;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-around;
}

.personal ul li{
    border-radius: 15px;
    padding: 3px 10px;
    list-style-type: none;
    margin-right: 30px;
    transition: transform 1.2s ease-in-out;
}
.personal ul li:hover{
    color: #0096A4;
    transform: scale(1.1);
}

.personal ul li a{
    color: #000000;
}

.personal ul li a:hover{
    color: #0096A4;
}

/*section skills*/
.skills{
    display: inline-block;
    height: 870px;
    width: 100%;
    background:url(/imgs/scroll-second.png) no-repeat center;
    background-color: #fff;
}

.knowledge{
    position: relative;
    margin-top: 130px;
    margin-left: 180px;
    width: 280px;
}

.knowledge::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 600px;
    top: 18px;
    left: -19px;
    background: #0096A4;
}

.subtitle-second{
    position: relative;
    text-align: center;
    color: #000000;
    font-size: 30px;
    font-weight: 300;
    background-color: #fff;
    border-radius: 20px;
}

.subtitle-second::before{
    content: "";
    position: absolute;
    justify-content: center;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background: #fff;
    border: 2px solid #0096A4;
    top: 16px;
    left: -25px;
}

.main-skills{
    height: 870px;
    background: url(imgs/scroll-second.png) no-repeat center;
    background-color: #fff;
}