*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100%;
    background-color: #1F1F23;
}

/*Header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 145px;
    padding: 10px 156px;
}

header nav{
    text-align: right;
}

#logo{
    transition: transform 0.3s;
    width: 98px;
    height: 115px
}

#logo:hover{
    transform: scale(1.1);
}

.nav{
    display: inline-flex;
    align-items: center;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 58px;
    transition: transform 0.4s cubic-bezier(.48, .100, .80, 2.48);
}

header nav a i{
    margin-right: 7px;
    color: #0096A4;
}

header nav a i:hover{
    color: #000000;
}

.nav:hover{
    color: #0096A4;
    transform: scale(1.07);
}

.button-talk {
    background-color: #0096A4;
    color: #ffffff;
    height: 51px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    text-decoration: none;
    transition: opacity 0.5s ease-in-out;
}

.button-talk:hover{
    opacity: 0.77;
}

/*Banner*/
.banner{
    position: relative;
    align-items: center;
    background: url(/imgs/pexels-lukas-574071\(2\).jpg) no-repeat center;
    background-size: cover;  
    height: 867px;
    padding-left: 156px;
}

section .info{
    position: absolute;
    top: 305px;
    text-align: left;
    
}

section .info .h2-first{
    font-size: 24px;
    font-weight: 600;
    color: #0096A4;
}

section .info .title{
    font-size: 68px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

section .info .title #barch{
    color: #0096A4;
}

section .info .h2-second{
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
}

.button{
    display: inline-block;
    width: 179px;
    height: 40px;
    border-radius: 13px;
    background-color: #ffffff;
    color: #1F1F23;
    text-decoration: none;
    margin-top: 200px;
    padding: 6px 18px;
    margin-right: 50px;
}

.button:hover{  
    opacity: 0.77;
}

.banner .photo{
    position: absolute;
    right: 145px;
    top: 145px;
    transition: transform 2.5s ease-in-out;
}

.banner .photo:hover{
    transform: scale(1.1);
}